<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/landing.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600" rel="stylesheet">
  <title>PopCorn</title>
</head>
<body>
  <div class="slideshow"></div>
  <span class="logo">Pop<strong>Corn</strong></span>
  <br><br>
  <div class="text">
    <div class="title">
      <p>See Movie Review's</p>
    </div>
    <div class="underscore">
      <p><span>Most Popular Movies</span><span>Upcoming Movies</span><span>Top Rated Movies</span></p>
    </div>
  </div>
  <a href="/nowplaying" class="btn-lg btn-red">Get Started</a>
</body>
</html>
