 @import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');
html, body {
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

a:focus, a:hover {
	color: #ffffff;
  text-decoration: none;
}


.slideshow {
  background-image: url(https://source.unsplash.com/0M5URHZ_f3k);
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0.99;
}

.navbar{
  min-height: 80px;
  margin-top: 20px;
  min-width: 50vh;
  background: #081c24;
  border-radius: 10px;
}

.navbar-default .navbar-brand {
  background: #e50914;
  color: #ffffff;
  padding: 1em;
  font-size: 4vh;
  min-height: 80px;
  border-radius: 10px;
  text-transform: uppercase;
  -moz-transition: -moz-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand a:hover {
  background: #e50914;
  color: #ffffff;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.navbar .navbar-nav {
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.navbar .navbar-nav li {
    float: none;
    display: inline-block;
}

.navbar .navbar-nav li a {
  font-size: 2vh;
  color: #ffffff;
}

.navbar .navbar-nav li a:hover {
  color: #e50914;
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
  font-weight: bold;
  background-color: #e50914;
  color: #ffffff;
}

.fa-play-circle, .fa-star, .fa-arrow-alt-circle-up, .fa-calendar-alt{
  padding-right: 6px;
  font-size: 2em;
  color: #ffffff;
}

.thumbnail img{
  width: 100%;
  height: 375px;
  border-radius: 30px;
  -moz-transition: -moz-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.thumbnail img:hover{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.thumbnail{
  padding: 0;
  border-style: none;
  display: block;
  background-color: inherit;
}

.row{
  margin-top: 90px;
}

#content{
  height: auto;
  background: #bbb;
  position: absolute;
  text-align: center;
  padding: 20px;
  margin-top: 80px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}

#movie-main-summary {
  width: 55%;
  float: right;
  height: 99%;
  /*border: 1px solid black;*/
  margin-right: 10px;
}

#movie-summary-img {
  max-height: 360px;
  max-width: 85%;
  margin-left: 0;
}

.movie-video{
width: 40%;
float: left;
}

#movie-summary-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 25px;
  float: left;
}

#summary-top {
  width: 100%;
  float: left;
  display: inline-block;
}

#summary-bottom {
  font-size: 1.1em;
  width: 100%;
}

.fa-star {
  font-size: 70px;
  color: #fbc02d;
}

.fa-stack-1x {
  font-size: 22px;
  font-weight: bold;
  line-height: 70px;
  margin-left: 10px;
  font-family: 'Open Sans Condensed';
}

.votes {
  font-size: 16px;
  margin-left: 70px;
  margin-top: 10px;
  width: 100px;
  font-family: 'Open Sans Condensed';
}

.youtube {
  margin: 10px;
  width: 100%;
  /*width: 480px;*/
  height: 320px;
  border: 0;
  background: #999 url(https://www.openmerchantaccount.com/img/novideo.png) no-repeat center;
}

.fa-film{
  padding-right: 8px;
}

.caption_info{
  padding-top: 12px;
  padding-right: 150px;
  float: left;
  color: #B22222 !important;
}

.caption h4{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden !important;
  display:inline-block;
  width: 196px;
  color: #ffffff;
}

hr{
  margin-top: 70px;
  display: block;
  margin-bottom: 0;
  border-top: 2px solid #eee
}

.fa-star{
  font-size: 40px;
}

.star{
  height: 50px;
  width: 60px;
  margin-top: -36px;
  margin-left: 155px;
}

#vote_avg{
  font-size: 15px;
  color: #FFD700 !important;
}

.vote{
  width: 10%;
  margin-left: 156px;
  margin-top: -30px;
  color: #FFD700 !important;
}

.col-lg-5{
  padding-left: 0;
}

.col-lg-7{
  margin-top: 15px;
}

.col-lg-7 p{
  color: #ffffff;
}

#slick-slider{
  position: absolute;
  top: 900px;
  margin-bottom: 20px;
}

.popularity{
  background: url(http://kineticbusinesssolutions.com/wp-content/uploads/2016/05/digital-marketing.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.inline{
  padding: 0 0.5em 0 0;
  display: inline;
}

.credit-item{
  float: left;
  padding-bottom: 5px;
}

#recommendations{
  margin-top: 575px;
}

.slick-prev:before, .slick-next:before{
    color:red;
}
