@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

a:focus, a:hover {
	color: #ffffff;
  text-decoration: none;
}


.slideshow {
  background-image: url(https://source.unsplash.com/0M5URHZ_f3k);
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0.99;
}

#postertest{
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar{
  min-height: 80px;
  margin-top: 20px;
  min-width: 50vh;
  background: #081c24;
  border-radius: 10px;
}

.navbar-default .navbar-brand {
  background: #e50914;
  color: #ffffff;
  padding: 1em;
  font-size: 4vh;
  min-height: 80px;
  border-radius: 10px;
  text-transform: uppercase;
  -moz-transition: -moz-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand a:hover {
  background: #e50914;
  color: #ffffff;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.navbar .navbar-nav {
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.navbar .navbar-nav li {
    float: none;
    display: inline-block;
}

.navbar .navbar-nav li a {
  font-size: 2vh;
  color: #ffffff;
}

.navbar .navbar-nav li a:hover {
  color: #e50914;
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
  font-weight: bold;
  background-color: #e50914;
  color: #ffffff;
}

.fa-play-circle, .fa-star, .fa-arrow-alt-circle-up, .fa-calendar-alt{
  padding-right: 6px;
  font-size: 2em;
  color: #ffffff;
}

.thumbnail img{
  width: 100%;
  height: 375px;
  border-radius: 30px;
  -moz-transition: -moz-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.thumbnail img:hover{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.thumbnail{
  padding: 0;
  border-style: none;
  display: block;
  background-color: inherit;
}

.row{
  margin-top: 90px;
}

#content{
  height: auto;
  background: #bbb;
  position: absolute;
  text-align: center;
  padding: 20px;
  margin-top: 80px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}

#movie-main-summary {
  width: 55%;
  float: right;
  height: 99%;
  /*border: 1px solid black;*/
  margin-right: 10px;
}

#movie-summary-img {
  max-height: 360px;
  max-width: 85%;
  margin-left: 0;
}

.col-xs-12, .col-xs-6{
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.meta-data-container {
	padding: 15px;
	color: #fafafa;
}
@media (min-width:544px){
  .meta-data-container {
  	padding: 25px;
  }
}

@media (min-width:768px) {
  .meta-data-container {
  	padding: 25px;
  }
}

.meta-data-container h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-family: Lato,sans-serif;
	font-size: 2.2em;
}

@media (min-width:768px){
  .meta-data-container h1 {
  	font-size: 2.5em;
  }
}

.btn-red{
  color: #fff;
  background-color: #e50914;
  box-shadow: 0 1px 0 rgba(0,0,0,.45);
  position: relative;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
  margin: 1em auto;
  padding: 1em 2em;
  /* margin-left: 38px; */
  cursor: pointer;
  font-size: 1.2em;
  line-height: 1em;
  display: inline-block;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}

.btn-green{
  color: #fff;
  background-color: #00fc87;
  box-shadow: 0 1px 0 rgba(0,0,0,.45);
  position: relative;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
  margin: 1em auto;
  padding: 1em 2em;
  /* margin-left: 38px; */
  cursor: pointer;
  font-size: 1.2em;
  line-height: 1em;
  display: inline-block;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}


.btn-red,
.btn-red::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-green,
.btn-green::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}


.btn-red::before,
.btn-red::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn-green::before,
.btn-green::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}


.btn-red:hover {
  color: #e50914;
}

.btn-green:hover {
  color: #00fc87;
}

.btn-red::after{
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-green::after{
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}


.btn-red:hover:after {
  height: 100%;
  width: 135%;
}

.btn-green:hover:after {
  height: 100%;
  width: 135%;
}


.wrapper {
  padding: 100px;
}

.image--cover {
  width: 117px;
  height: 110px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: 20px;
  object-fit: cover;
  object-position: center right;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.responsive-circle {
	font-weight: 700;
	/* margin: 0 auto 20px; */
	width: 80%;
}

.responsive-circle div{
  text-align: center;
}

@media (max-width:768px){
  .responsive-circle {
	width: 100%;
}

.responsive-circle div {
	color: white;
  /* justify-content: center; */
	line-height: 1em;
	margin-top: -0.5em;
	padding-top: 10%;
	text-align: center;
	width: 100%;
}

}

@media (max-width:992px){
  .responsive-circle {
	width: 100%;
}

.responsive-circle div {
	color: white;
  /* justify-content: center; */
	line-height: 1em;
	margin-top: -0.5em;
	padding-top: 10%;
	text-align: center;
	width: 100%;
}

}


.row-flex {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px){
    .fivecolumns .span2 {
        width: 18.297872340425532%;
        *width: 18.2234042553191494%;
    }
}
@media (min-width: 1200px) {
    .fivecolumns .span2 {
        width: 17.9487179487179488%;
        *width: 17.87424986361156592%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .fivecolumns .span2 {
        width: 17.79005524861878448%;
        *width: 17.7155871635124022%;
    }
}

.wrapper h3{
  font-size: 2em;
  letter-spacing: .75vh;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Lato,sans-serif;
  color: #fafafa;
  margin-bottom: 20px;

}

figcaption{
  color: #00fc87;
  text-transform: uppercase;
  font-family:  Oswald,sans-serif;
  margin-top: 20px;
  margin-bottom: 30px;
}

.wrapper .col-md-3{
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: .5;
}

#myModal .modal-dialog {
      max-width: 800px;
      margin: 30px auto;
      height: auto;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 745px;
    margin: 10px auto;
  }
}


#myModal .modal-body {
  position:relative;
  padding:0px;
}

#myModal .close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

.wrapper .col-md-3:hover{
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
  cursor: pointer;
  opacity: 1;
}


.cardcont {
	border-radius: 3px;
	background: rgba(0,0,0,.85);
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-animation: fadein ease-out 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein ease-out 2s; /* Firefox < 16 */
  -ms-animation: fadein ease-out 2s; /* Internet Explorer */
  -o-animation: fadein ease-out 2s; /* Opera < 12.1 */
  animation: fadein ease-out 2s;
  }

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }


.cardcont p{
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    line-height: 1.5;
    margin-top: 10px;
}

.nopadding{
  padding: 0;
}

footer {
	padding: 30px 0;
	float: left;
	font-size: .9em;
	text-align: center;
	width: 100%;
	text-shadow: 1px 1px 1px #000;
}

footer span {
	display: block;
	padding: 0 0 10px;
}

footer a {
	color: gray;
	transition: .7s;
	padding: 8px;
}

footer span i {
	margin-right: 5px;
}

.ion-social-github::before {
	content: "\f233";
}

.meta-data-container {
	padding: 15px;
	color: #fafafa;
}

/* Small devices (landscape phones, 544px and up)  */
@media (min-width: 544px) {
  .meta-data-container {
  	padding: 25px;
  }
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
  .meta-data-container {
  	padding: 25px;
  }
}

.meta-data-container h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-family: Lato,sans-serif;
	font-size: 2.2em;
}

@media (min-width: 768px) {
  .meta-data-container h1 {
  	font-size: 2.5em;
}
}

.meta-data-container .additional-details, .tagline {
	font-family: Oswald,sans-serif;
}

.meta-data-container .additional-details {
	margin: 35px 0 20px;
}

.meta-data-container .additional-details .genre-list {
	display: block;
	color: #00fc87;
	font-size: 1.4em;
}

.meta-data-container .additional-details .production-list {
	display: block;
	margin-bottom: 20px;
}

.meta-data-container .additional-details .release-details div:nth-child(n+3) {
	margin-top: 15px;
}

.col-xs-6{
	width: 50%;
}

.meta-data-container .meta-data {
	display: block;
	color: #00fc87;
	font-size: 1.6em;
	line-height: 1.1em;
}

.col-md-8, .col-lg-7{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.poster-container .poster {
	width: 100%;
	border-radius: 0 0 3px 3px;
}

@media (min-width:768px){
  .poster-container .poster {
  	border-radius: 3px 0 0 3px;
  }
}

@media (min-width: 768px) {
.col-md-8 {
	float: left;
	width: 66.66%;
}
}

@media (min-width: 768px){
  .col-md-4 {
	float: left;
	width: 33.33333%;
}
}

@media (min-width:768px) {
  .push-md-4 {
  	left: 33.33%;
  }
}

@media (min-width:544px) {
  .col-xs-3 {
    float: left;
    display: block;
    height: auto;
    max-width: 100%;
  }
}

@media (min-width:768px) {
  .col-xs-3 {
    float: left;
    display: block;
    height: auto;
    max-width: 100%;
  }
}


@media (min-width:992px){
  .push-lg-5 {
  	left: 41.66%;
  }
}

@media (min-width:992px){
  .col-lg-5 {
  	float: left;
  	width: 41.66667%;
  }
}

@media (min-width:992px){
  .pull-lg-7 {
	right: 58.33333%;
}
}

@media (min-width:768px){
  .pull-md-8 {
	right: 66.66667%;
}
}

.tagline {
	display: block;
	padding-bottom: 0.25em;
	color: #00fc87;
	font-size: 1.3em;
}

@media (min-width:992px){
  .col-lg-7 {
  	float: left;
  	width: 58.33%;
  }
}

.movie-video{
width: 40%;
float: left;
}

#movie-summary-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 25px;
  float: left;
}

#summary-top {
  width: 100%;
  float: left;
  display: inline-block;
}

#summary-bottom {
  font-size: 1.1em;
  width: 100%;
}

.fa-star {
  font-size: 70px;
  color: #fbc02d;
}

.fa-stack-1x {
  font-size: 22px;
  font-weight: bold;
  line-height: 70px;
  margin-left: 10px;
  font-family: 'Open Sans Condensed';
}

.votes {
  font-size: 16px;
  margin-left: 70px;
  margin-top: 10px;
  width: 100px;
  font-family: 'Open Sans Condensed';
}

.youtube {
  margin: 10px;
  width: 100%;
  /*width: 480px;*/
  height: 320px;
  border: 0;
  background: #999 url(https://www.openmerchantaccount.com/img/novideo.png) no-repeat center;
}

.fa-film{
  padding-right: 8px;
}

.caption_info{
  padding-top: 12px;
  padding-right: 150px;
  float: left;
  color: #B22222 !important;
}

.caption h4{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden !important;
  display:inline-block;
  width: 196px;
  color: #ffffff;
}

hr{
  margin-top: 70px;
  display: block;
  margin-bottom: 0;
  border-top: 2px solid #eee
}

.fa-star{
  font-size: 40px;
}

.star{
  height: 50px;
  width: 60px;
  margin-top: -36px;
  margin-left: 155px;
}

#vote_avg{
  font-size: 15px;
  color: #FFD700 !important;
}

.vote{
  width: 10%;
  margin-left: 156px;
  margin-top: -30px;
  color: #FFD700 !important;
}

.col-lg-5{
  padding-left: 0;
}

.col-lg-7{
  margin-top: 15px;
}

.col-lg-7 p{
  color: #ffffff;
}

#slick-slider{
  position: absolute;
  top: 900px;
  margin-bottom: 20px;
}

.popularity{
  background: url(http://kineticbusinesssolutions.com/wp-content/uploads/2016/05/digital-marketing.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.inline{
  padding: 0 0.5em 0 0;
  display: inline;
}

.credit-item{
  float: left;
  padding-bottom: 5px;
}

#recommendations{
  margin-top: 575px;
}

.slick-prev:before, .slick-next:before{
    color:red;
}
